/* styling for the Calendar page */
.calendar-page {
    font-family: var(--font);
    min-height: 100vh;
    height: fit-content;
    padding: 2rem;
}

/* planner card container */
.calendar-page .css-jv498s {
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}
html[theme='dark'] .calendar-page .css-jv498s,
html[theme='dark-invert'] .calendar-page .css-jv498s {
    background-color: var(--trans);
    border: 0.1em solid var(--shade5);
}

/* list date */
.calendar-page .css-1sl53ol {
    font-family: var(--font);
    font-size: 2.5em;
    color: var(--shade5);
    border: none;
    padding: 3% 0% 0% 4%;
}

html[theme='dark'] .calendar-page .css-1sl53ol,
html[theme='dark-invert'] .calendar-page .css-1sl53ol {
    color: var(--shade4);
}

/* weight input container */
.calendar-page .css-1y0e7gb {
    width: 50%;
    border-color: var(--shade4)
}

html[theme='dark'] .calendar-page .css-1y0e7gb,
html[theme='dark-invert'] .calendar-page .css-1y0e7gb {
    color: var(--shade6);
    border-color: var(--shade5);
}

/* weight inputrightaddon */
.calendar-page .css-1r6jmxn {
    background-color: var(--shade1);
    color: var(--shade6);
}

/* add/edit/remove meal and add weight button */
.calendar-page .css-22xpxh,
.calendar-page .css-x9zq2g {
    background-color: var(--shade5);
    color: var(--shade1);
}

/* add/edit/remove meal and add weight button */
.calendar-page .css-22xpxh:hover,
.calendar-page .css-x9zq2g:hover {
    background-color: var(--shade6);
}

/* add meal and weight container */
.calendar-page .css-85tvzw {
    margin-bottom: 1.5em;
}

html[theme='dark'] .calendar-page .css-85tvzw,
html[theme='dark-invert'] .calendar-page .css-85tvzw {
    color: var(--shade5);
}

/* meal accordian header */
.calendar-page .css-uttm9k {
    display: block;
    font-size: 1.5em;
    background-color: var(--shade5);
    color: var(--shade1);
}

/* accordian container */
.calendar-page .css-17mg6aq {
    border: none;
}

html[theme='dark'] .calendar-page .css-17mg6aq,
html[theme='dark-invert'] .calendar-page .css-17mg6aq {
    color: var(--shade6);
}

/* accordian button */
html[theme='dark'] .calendar-page .css-ymy74v:hover,
html[theme='dark'] .calendar-page .css-ymy74v[aria-expanded=true], 
html[theme='dark'] .calendar-page .css-ymy74v[data-expanded],
html[theme='dark-invert'] .calendar-page .css-ymy74v:hover,
html[theme='dark-invert'] .calendar-page .css-ymy74v[aria-expanded=true], 
html[theme='dark-invert'] .calendar-page .css-ymy74v[data-expanded] {
    background-color: var(--shade3);
}

/* meal accordian icon (not expanded and expanded) */
.calendar-page .css-186l2rg,
.calendar-page .css-j2ph2z {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

/* meal accordian panel */
.calendar-page .css-mxa4qn {
    padding-bottom: 0.75em;
    margin-bottom: 0.5em;
    border-bottom: 1px solid var(--shade4)
}

/* add items modal */
html[theme='dark'] .add-items-modal,
html[theme='dark-invert'] .add-items-modal {
    background-color: var(--shade5);
}
html[theme='original-invert'] .add-items-modal,
html[theme='light-invert'] .add-items-modal,
html[theme='dark-invert'] .add-items-modal {
    filter: invert(100%);
}

/* add items modal selected tab */
html[theme='dark'] .add-items-modal .css-iwi0r3[aria-selected=true], 
html[theme='dark'] .add-items-modal .css-iwi0r3[data-selected],
html[theme='dark-invert'] .add-items-modal .css-iwi0r3[aria-selected=true], 
html[theme='dark-invert'] .add-items-modal .css-iwi0r3[data-selected] {
    background-color: var(--shade4);
    color: var(--shade6);
}

/* add items modal info iconbuttons */
.add-items-modal .css-22xpxh {
    background-color: var(--shade3);
    color: var(--shade6);
}

/* add items modal info iconbuttons */
.add-items-modal .css-22xpxh:hover {
    background-color: var(--shade4);
}

/* add items modal footer buttons */
.add-items-modal .css-ez23ye {
    background-color: var(--shade3);
    color: var(--shade6);
}

/* add items modal footer buttons */
.add-items-modal .css-ez23ye:hover {
    background-color: var(--shade4);
}

/* add items modal popover container */
.add-items-modal .css-1cj2wja {
    white-space: pre-line;
    padding: 0.25em;
    background-color: var(--shade3);
    --popper-arrow-bg: var(--shade3);
}
html[theme='dark'] .add-items-modal .css-1cj2wja,
html[theme='dark-invert'] .add-items-modal .css-1cj2wja {
    color: var(--shade6);
}

/* add items modal custom tab input containers */
html[theme='dark'] .add-items-modal .css-mw75w7,
html[theme='dark-invert'] .add-items-modal .css-mw75w7 {
    color: var(--shade6);
    border: 0.1em solid var(--shade3);
}

/* add items modal custom tab input fields */
html[theme='dark'] .add-items-modal .css-10wjqo2,
html[theme='dark'] .add-items-modal .css-uhk8uw,
html[theme='dark-invert'] .add-items-modal .css-10wjqo2,
html[theme='dark-invert'] .add-items-modal .css-uhk8uw {
    color: var(--shade1);
    background-color: rgba(255, 255, 255, 0.55);
}

/* daily stats accordian header */
.calendar-page .css-iqe3ys {
    font-size: 1.5em;
    margin-top: 0.25em;
    margin-bottom: 0.5em;
    background-color: var(--shade5);
    color: var(--shade1);
}

/* daily stat categories */
.calendar-page .statTitle {
    font-size: 2em;
    color: var(--shade5);
}

html[theme='dark'] .calendar-page .statTitle,
html[theme='dark-invert'] .calendar-page .statTitle {
    color: var(--shade5);
}

/* daily stats category values */
.calendar-page .statValue {
    font-size: 1em;
    color: var(--shade4);
}

/* daily stats circle */
.calendar-page .css-kn46u7 {
    width: 2.5em;
    height: 2.5em;
}

/* daily stats circle inner text value */
.calendar-page .css-f1j64i {
    font-size: 0.5em;
    color: var(--shade5);
}

html[theme='dark'] .calendar-page .css-f1j64i,
html[theme='dark-invert'] .calendar-page .css-f1j64i {
    color: var(--shade5);
}

@media (max-width: 480px) {

    /* card header */
    .calendar-page .css-1sl53ol {
        padding: 0.5em;
        padding-bottom: 0;
    }

    /* date input */
    .calendar-page .css-1y0e7gb {
        width: 100%;
        color: var(--shade6);
    }

    /* date inputleftaddon */
    .calendar-page .css-127xmqf {
        background-color: var(--shade2);
    }

    /* meal accordian header */
    .calendar-page .css-uttm9k {
        padding-right: 0.25em;
    }

    /* meal accordian button container */
    .calendar-page .css-ymy74v,
    .calendar-page .css-nf96ne {
        padding: 0.5em 0em;
    }

    /* edit meal iconbutton */
    .calendar-page .css-x9zq2g {
        margin-left: 0.5em;
    }

    /* daily stat categories */
    .calendar-page .statTitle {
        font-size: 1.75em;
    }

}


/* calendar styling, imported/associated with calendar package */
/* customized certain styling/colors */
.react-calendar {
    width: 100%;
    background-color: white;
    color: var(--shade6);
    border-radius: 8px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    font-family: var(--font);
    font-size: 2.25vw;
    padding: 2vw;
}

html[theme='dark'] .react-calendar,
html[theme='dark-invert'] .react-calendar {
    background-color: var(--trans);
}

.react-calendar__tile {
    text-align: center;
    padding: 0.75em 0.5em;
    background: none;
    color: var(--shade6);
}

html[theme='dark'] .react-calendar__tile,
html[theme='dark-invert'] .react-calendar__tile {
    color: var(--shade5);
}

.react-calendar__navigation button {
    color: var(--shade5);
    font-weight: bolder;
    min-width: 44px;
    background: none;
    margin-top: 8px;
}

html[theme='dark'] .react-calendar__navigation button,
html[theme='dark-invert'] .react-calendar__navigation button {
    color: var(--shade4);
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
    background-color: var(--shade1);
}

html[theme='dark'] .react-calendar__navigation button:enabled:hover,
html[theme='dark'] .react-calendar__navigation button:enabled:focus,
html[theme='dark-invert'] .react-calendar__navigation button:enabled:hover,
html[theme='dark-invert'] .react-calendar__navigation button:enabled:focus {
    background-color: var(--shade6);
}

.react-calendar__navigation button[disabled] {
    background-color: var(--shade3);
}

abbr[title] {
    text-decoration: none;
}

html[theme='dark'] abbr[title],
html[theme='dark-invert'] abbr[title] {
    color: var(--shade5);
}

.react-calendar__month-view__days__day--weekend {
    color: var(--shade4);
}

html[theme='dark'] .react-calendar__month-view__days__day--weekend,
html[theme='dark-invert'] .react-calendar__month-view__days__day--weekend {
    color: var(--shade4);
}

.react-calendar__tile:enabled:hover,
.react-calendar__tile:enabled:focus {
    background: rgba(211, 211, 211, 0.601);
    color: var(--shade6);
    border-radius: 6px;
}

.react-calendar__tile--now {
    background: var(--shade3);
    border-radius: 6px;
    font-weight: bold;
    color: var(--shade1);
}

html[theme='dark'] .react-calendar__tile--now,
html[theme='dark-invert'] .react-calendar__tile--now {
    background: var(--shade3);
    border-radius: 6px;
    font-weight: bold;
    color: var(--shade6);
}

.react-calendar__tile--now:enabled:hover,
.react-calendar__tile--now:enabled:focus {
    background: rgba(211, 211, 211, 0.601);
    border-radius: 6px;
    font-weight: bold;
    color: var(--shade6);
}

html[theme='dark'] .react-calendar__tile--now:enabled:hover,
html[theme='dark'] .react-calendar__tile--now:enabled:focus,
html[theme='dark-invert'] .react-calendar__tile--now:enabled:hover,
html[theme='dark-invert'] .react-calendar__tile--now:enabled:focus {
    background: rgba(211, 211, 211, 0.601);
    border-radius: 6px;
    font-weight: bold;
    color: var(--shade2);
}

.react-calendar__tile--hasActive:enabled:hover,
.react-calendar__tile--hasActive:enabled:focus {
    background: var(--shade1);
}

.react-calendar__tile--active {
    background: var(--shade6);
    border-radius: 6px;
    font-weight: bold;
    color: var(--shade1);
}

.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
    background: var(--shade6);
    color: var(--shade1);
}

.react-calendar__tile--rangeEnd {
    border-radius: 6px;
    background: var(--shade6);
    color: var(--shade1);
}