/* popover container */
.converter .css-sjj62m {
    border-color: var(--shade5);
    border-radius: var(--shade5);
    --popper-arrow-bg: var(--shade2);
    --popper-arrow-shadow-color: var(--shade5);
}

html[theme='dark'] .converter .css-sjj62m,
html[theme='dark-invert'] .converter .css-sjj62m {
    background-color: var(--shade5);
}

/* popover header */
.converter .css-1t6b1jw {
    color: var(--shade5);
    font-weight: bold;
    background-color: var(--shade2);
    margin-bottom: 0.5em;
}

/* select type container */
.converter .css-1a5ho4p {
    margin-bottom: 1em;
    color: black;
}

/* value and unit container */
.converter .css-k008qs {
    margin: 0.5em 0em;
    color: black;
}

/* value inputs */
.converter .css-1cjy4zv {
    border-color: var(--shade5);
    width: 75%;
}

html[theme='dark'] .converter .css-1cjy4zv,
html[theme='dark-invert'] .converter .css-1cjy4zv {
    border-color: var(--shade2);
}

/* value inputs */
.converter .css-1cjy4zv:hover {
    border-color: var(--shade4);
}

.converter .css-1cjy4zv:disabled,
.converter .css-1cjy4zv[disabled],
.converter .css-1cjy4zv[aria-disabled=true],
.converter .css-1cjy4zv[data-disabled] {
    opacity: 0.75
}

/* popover footer */
.converter .css-1ntzpg2 {
    text-align: end;
    background-color: var(--shade2);
    color: var(--shade6)
}

@media (max-width: 480px) {

    /* converter modal container */
    .converter .css-1htutmd {
        border: 0.15em solid var(--shade5);
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    }
    html[theme='original-invert'] .converter .css-1htutmd,
    html[theme='light-invert'] .converter .css-1htutmd,
    html[theme='dark-invert'] .converter .css-1htutmd {
        filter: invert(100%);
    }

    /* modal header */
    .converter .css-9fgtzh {
        color: var(--shade5);
        font-weight: bold;
        background-color: var(--shade2);
        margin-bottom: 0.5em;
        border-top-left-radius: 0.375rem;
        border-top-right-radius: 0.375rem;
    }

    /* modal footer */
    .converter .css-k0waxj {
        text-align: end;
        background-color: var(--shade2);
        color: var(--shade5);
        border-bottom-left-radius: 0.375rem;
        border-bottom-right-radius: 0.375rem;
    }

}