/* styling for the Routine page */
.food-page {
    font-family: var(--font);
    min-height: 100vh;
    height: fit-content;
    padding: 2rem;
}

/* page title */
.food-page .css-1dklj6k {
    font-family: var(--font);
    font-size: 2.75rem;
    color: var(--shade5);
    padding-top: 1rem;
}

/* add food button */
.food-page .css-ez23ye {
    font-size: 1.5rem;
    padding: 2rem 1.5rem 2rem 1.5rem;
    margin-bottom: 2rem;
    background-color: var(--shade5);
    color: white;
}

/* add food button */
.food-page .css-ez23ye:hover {
    background-color: var(--shade3);
    color: var(--shade5);
}

/* table container */
.food-page .css-zipzvv {
    width: 100rem;
    margin-bottom: 2rem;
}

/* table */
.food-page .css-5605sr {
    background-color: rgba(255, 255, 255, 0.5);
}

/* table headers */
.food-page .css-1zts0j {
    text-align: center;
    color: white;
    background-color: var(--shade5);
    padding: 1% 0%;
}

/* table content */
.food-page .css-xumdn4, .food-page .css-xumdn4[data-is-numeric=true] {
    text-align: center;
    border-color: var(--shade4);
}


/* food edit and delete button */
.food-page .css-fx3q01 {
    background-color: var(--trans);
    margin: 0.25em -1em 0.25em -1em;
}

/* food edit and delete button */
.food-page .css-fx3q01:hover {
    background-color: var(--shade2);
}

@media (max-width: 768px) {
    .food-page {
        padding: 5vw;
    }
    /* new food button */
    .food-page .css-ez23ye {
        font-size: 3vw;
        padding: 1vh 3vw 1vh 3vw;
        margin-bottom: 1vh;
    }
}