:root {
  --shade1: #ecede8;
  --shade2: #e3e6d8;
  --shade3: #bcd0af;
  --shade4: #83aa86;
  --shade5: #41664c;
  --shade6: #203627;
  --trans: #ffffff00;
  --font: 'Questrial', sans-serif;
}

/* import font used throughout pages */
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');

/* gradient background across all pages */
.global {
  background: linear-gradient(180deg, var(--shade1), var(--shade2), var(--shade3), var(--shade4), var(--shade5), var(--shade6));
  background-size: 100% 100%;
  min-height: 100vh;
  height: fit-content;
  font-family: var(--font);
  font-size: 100%;
}