/* styling for the header/navigation bar */
.nav-bar {
    background-color: var(--shade1);
    height: fit-content;
    font-family: var(--font);
    padding: 1em 1em;
    border-bottom: 0.75em solid var(--shade5)
}

/* nav bar icons */
.nav-bar .css-1m3sc6v {
    vertical-align: middle;
    color: var(--shade5);
    font-size: 1.75em;
    padding: 0em 0.75em;
}

@media (max-width: 768px) {

}