/* styling for the Routine page */
.home-page {
    font-family: var(--font);
    min-height: 100vh;
    height: fit-content;
    padding: 3rem;
}

/* home page heading */
.home-page .css-1dklj6k {
    white-space: pre-line;
    text-align: center;
    font-size: 2em;
    margin-bottom: 0.5em;
    color: var(--shade5);
}

/* home page intro text */
.home-page p {
    white-space: pre-line;
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
    color: var(--shade5);
}

/* intro dietry bold text */
.home-page p b {
    font-size: 1.25em;
}

/* navigation buttons */
.home-page .css-ez23ye {
    width: 100%;
    font-size: 1.5em;
    padding: 1.5em 1em;
    border: 0.2em solid var(--shade5);
    background-color: var(--shade2);
    color: var(--shade5);
}

/* grid container */
.home-page .css-1wks9lh {
    width: 70%;
    margin: auto;
}

/* navigation buttons */
.home-page .css-ez23ye:hover {
    background-color: var(--shade3);
}

/* arrow icons */
.home-page .arrow-icon {
    font-size: 3em;
    color: var(--shade5);
    opacity: 0.25;
}

@media (max-width: 480px) {

    /* home page heading */
    .home-page .css-1dklj6k {
        font-size: 2.5em;
    }

    /* home page intro text */
    .home-page p {
        font-size: 1.5em;
    }

}