/* styling for the Routine page */
.meal-page, .new-meal-page {
    font-family: var(--font);
    min-height: 100vh;
    height: fit-content;
    padding: 2rem;
}

/* page title */
.meal-page .css-1dklj6k {
    font-family: var(--font);
    font-size: 2.75rem;
    color: var(--shade5);
    padding-top: 0.5rem;
}

/* loading container */
.meal-page .css-xi606m {
    margin-top: 2em;
    font-size: 2em;
}

/* loading spinner */
.meal-page .css-nkpswe {
    margin-right: 0.5em;
}

/* new meal button */
.meal-page .css-ez23ye {
    font-size: 1.5rem;
    padding: 2rem 1.5rem 2rem 1.5rem;
    margin-bottom: 2rem;
    background-color: var(--shade5);
    color: white;
}

/* new meal button */
.meal-page .css-ez23ye:hover {
    background-color: var(--shade3);
    color: var(--shade5);
}

/* search bar */
.meal-page .css-qluo93 {
    border-color: var(--shade5);
    border-width: 0.15em;
    margin-bottom: 1em;
}

/* search bar */
.meal-page .css-qluo93:hover {
    border-color: var(--shade5);
    border-width: 0.25em;
}

/* accordian component */
.meal-page .accordian {
    background-color: rgba(255, 255, 255, 0.5);
    margin-bottom: 1em;
}

/* accordian button container */
.meal-page .css-70qvj9, .meal-page .css-70qvj9::before, .meal-page .css-70qvj9::after {
    padding: 1em;
    border-color: var(--shade2);
}

/* accordian button container */
.meal-page .css-70qvj9:hover {
    background-color: var(--shade4);
}

/* accordian button */
.meal-page .css-1aeclw8 {
    font-size: 1.5em;
}

/* accordian button expanded */
.meal-page .css-1aeclw8[aria-expanded=true] {
    font-weight: bolder;
    border-left: 0.20em dashed var(--shade5);
    padding-left: 1em;
}

/* accordian button */
.meal-page .css-1aeclw8:hover, .meal-page .css-1aeclw8[data-hover] {
    background: none;
}

/* accordian titles */
.meal-page .css-1eziwv {
    font-size: 1.5em;
    padding: 0.5em 0em 0.5em 0.5em;
}

/* meal edit and delete button */
.meal-page .css-22xpxh {
    background-color: var(--trans);
    color: var(--shade6);
    margin-right: 0.5em;
}

/* meal edit and delete button */
.meal-page .css-22xpxh:hover {
    background-color: var(--shade2);
}

/* table headers */
.meal-page .css-15wjwcp {
    text-align: center;
    background-color: var(--shade6);
    color: white;
    padding: 1% 0%;
}

/* table content */
.meal-page .css-1vmvwla {
    text-align: center;
}

@media (max-width: 768px) {

}