/* styling for the Routine page */
.meal-page,
.new-meal-page {
    font-family: var(--font);
    min-height: 100vh;
    height: fit-content;
    padding: 2rem;
}

/* page title */
.meal-page .css-1dklj6k {
    font-family: var(--font);
    font-size: 2.75rem;
    color: var(--shade5);
    padding-top: 0.5rem;
}

/* loading container */
.meal-page .css-xi606m {
    margin-top: 2em;
    font-size: 2em;
}

/* loading spinner */
.meal-page .css-nkpswe {
    margin-right: 0.5em;
}

/* new meal button */
.meal-page .css-ez23ye {
    font-size: 1.5rem;
    padding: 2rem 1.5rem 2rem 1.5rem;
    margin-bottom: 2rem;
    background-color: var(--shade5);
    color: var(--shade1);
}

/* new meal button */
.meal-page .css-ez23ye:hover {
    background-color: var(--shade4);
}

/* search bar */
.meal-page .css-qluo93 {
    border-color: var(--shade5);
    border-width: 0.15em;
    margin-bottom: 1em;
}

/* search bar */
.meal-page .css-qluo93:hover {
    border-color: var(--shade5);
    border-width: 0.25em;
}

/* accordian component */
.meal-page .accordian {
    margin-bottom: 1em;
    border: solid var(--shade5);
}

/* accordian button container */
.meal-page .css-70qvj9 {
    padding: 1em;
}

/* accordian button container */
.meal-page .css-70qvj9:hover {
    background-color: var(--shade4);
}
html[theme='dark'] .meal-page .css-70qvj9:hover,
html[theme='dark-invert'] .meal-page .css-70qvj9:hover {
    background-color: var(--shade3);
}

/* accordian button */
.meal-page .css-1aeclw8 {
    font-size: 1.5em;
}

/* accordian button expanded */
.meal-page .css-1aeclw8[aria-expanded=true] {
    font-weight: bolder;
    border-left: 0.20em dashed var(--shade5);
    padding-left: 1em;
}

/* accordian button */
.meal-page .css-1aeclw8:hover,
.meal-page .css-1aeclw8[data-hover] {
    background: none;
}

/* accordian titles */
.meal-page .css-1eziwv {
    font-size: 1.5em;
    padding: 0.5em 0em 0.5em 0.5em;
}

/* meal edit and delete button */
.meal-page .css-22xpxh {
    background-color: var(--trans);
    color: var(--shade6);
    margin-right: 0.5em;
}

/* meal edit and delete button */
.meal-page .css-22xpxh:hover {
    background-color: var(--shade2);
}

/* accordian content container */
.meal-page .css-mxa4qn {
    border-top: 0.5em solid var(--shade5);
    padding:0;
    padding-top: 0.25em;
}

/* table headers */
.meal-page .css-15wjwcp {
    text-align: center;
    border-bottom: 0.25em double var(--shade5);
    color: var(--shade6);
    padding: 1% 0%;
}

/* table content */
.meal-page .css-1vmvwla {
    text-align: center;
}

/* delete alert container */
.meal-alert {
    text-align: center;
}
html[theme='dark'] .meal-alert,
html[theme='dark-invert'] .meal-alert {
    background-color: var(--shade5);
}

/* delete alert header */
.meal-alert .css-9fgtzh {
    color: var(--shade5);
}
html[theme='dark'] .meal-alert .css-9fgtzh,
html[theme='dark-invert'] .meal-alert .css-9fgtzh {
    color: var(--shade4);
}

/* delete alert footer */
.meal-alert .css-k0waxj {
    justify-content: space-between;
    margin-top: 0.5em;
}

/* delete alert buttons */
.meal-alert .css-ez23ye {
    background-color: var(--shade3);
}
html[theme='dark'] .meal-alert .css-ez23ye,
html[theme='dark-invert'] .meal-alert .css-ez23ye {
    color: var(--shade6);
}

/* delete alert buttons */
.meal-alert .css-ez23ye:hover {
    background-color: var(--shade4);
}

@media (max-width: 480px) {

    /* search bar container*/
    .meal-page .css-1y0e7gb {
        margin-top: -0.5em;
    }

    /* meal heading and add iconbutton container */
    .meal-page .css-k008qs {
        align-items: center;
        padding: 0.5em 0em 0.5em 1.25em;
        font-size: 1em;
        font-weight: bolder;
        background-color: var(--shade5);
        color: var(--shade1);
    }

    /* add meal icon button */
    .meal-page .css-22xpxh {
        margin-right: 0.25em;
        color: var(--shade1);
    }

    /* accordian component */
    .meal-page .accordian {
        margin-bottom: 0;
        border: none;
        border-bottom: solid var(--shade5);
    }

    /* accordian container */
    .meal-page .css-17mg6aq {
        border: none;
    }

    /* accordian button container */
    .meal-page .css-70qvj9 {
        padding: 0em;
    }

    /* accordian button */
    .meal-page .css-1aeclw8 {
        padding: 0.75em 1em;
        font-size: 1em;
        text-align: left;
    }

    /* accordian button expanded */
    .meal-page .css-1aeclw8[aria-expanded=true] {
        font-weight: bolder;
        border-left: none;
        background-color: var(--shade6);
        color: var(--shade1);
    }

    /* accordian content container */
    .meal-page .css-mxa4qn {
        border-top: none;
        padding-top: 0;
        padding-bottom: 1em;
    }

    /* table headers */
    .meal-page .css-15wjwcp {
        padding: 1em 0em;
    }

    /* table rows */
    .meal-page .css-1vmvwla {
        padding: 0.5em 0em;
    }

    /* accordian content table total row */
    .meal-page .total {
        background-color: var(--shade3);
        color: var(--shade6);
    }

    /* edit and delete meal button */
    .meal-page .css-ez23ye,
    .meal-page .css-ez23ye:hover {
        align-items: flex-start;
        font-size: 0.8em;
        padding: 1em 1em 2em 1em;
        margin: 1em 0em 0em 0em;
        background-color: var(--shade5);
        color: var(--shade1);
    }

    /* edit and delete button icons */
    .meal-page .css-ez23ye svg {
        margin-right: 0.5em;
    }

    /* food popover */
    .meal-page .css-sjj62m {
        max-width: fit-content;
        margin: auto;
        margin-top: -0.5em;
        border-radius: 0.5em;
        padding: 0.3em;
        border: solid var(--shade5);
        color: var(--shade6);
    }
    html[theme='dark'] .meal-page .css-sjj62m,
    html[theme='dark-invert'] .meal-page .css-sjj62m {
        color: var(--shade1);
    }

}