/* styling for the Routine page */
.new-meal-page,
.edit-meal-page,
.edit-planner-page {
    font-family: var(--font);
    min-height: 100vh;
    height: fit-content;
    padding: 2rem;
}

/* page title */
.new-meal-page .css-1dklj6k,
.edit-meal-page .css-1dklj6k,
.edit-planner-page .css-1dklj6k {
    font-size: 2.5em;
    color: var(--shade5);
    margin-bottom: 0.5em;
}

/* name and number of serving inputleftaddon */
.new-meal-page .css-127xmqf,
.edit-meal-page .css-127xmqf,
.edit-planner-page .css-127xmqf {
    border-color: var(--shade5);
    background-color: var(--shade5);
    color: var(--shade1);
}

/* meal name input */
.new-meal-page .css-10wjqo2,
.edit-meal-page .css-10wjqo2,
.edit-planner-page .css-10wjqo2 {
    border: 0.15em solid var(--shade5);
    border-left: none;
    width: 45vw;
}

/* meal name input */
.new-meal-page .css-10wjqo2:hover,
.edit-meal-page .css-10wjqo2:hover,
.edit-planner-page .css-10wjqo2:hover {
    border: 0.2em solid var(--shade5);
    border-left: none;
}

/* number of serving input */
.new-meal-page .css-1g0mrv8,
.edit-meal-page .css-1g0mrv8,
.edit-planner-page .css-1g0mrv8 {
    border: 0.15em solid var(--shade5);
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    width: 6em;
}

/* number of serving input */
.new-meal-page .css-1g0mrv8:hover,
.edit-meal-page .css-1g0mrv8:hover,
.edit-planner-page .css-1g0mrv8:hover {
    border: 0.2em solid var(--shade5);
    border-left: none;
}

/* number input stepper */
.new-meal-page .css-1m5jnul,
.edit-meal-page .css-1m5jnul,
.edit-planner-page .css-1m5jnul {
    border: 0.15em solid var(--shade5);
}

html[theme='dark'] .new-meal-page .css-1m5jnul,
html[theme='dark'] .edit-meal-page .css-1m5jnul,
html[theme='dark'] .edit-planner-page .css-1m5jnul,
html[theme='dark-invert'] .new-meal-page .css-1m5jnul,
html[theme='dark-invert'] .edit-meal-page .css-1m5jnul,
html[theme='dark-invert'] .edit-planner-page .css-1m5jnul {
    color: var(--shade5);
}

/* number input stepper */
.new-meal-page .css-1m5jnul:hover,
.edit-meal-page .css-1m5jnul:hover,
.edit-planner-page .css-1m5jnul:hover {
    border: 0.2em solid var(--shade5);
}

/* table container */
.new-meal-page .css-5605sr,
.edit-meal-page .css-5605sr,
.edit-planner-page .css-5605sr {
    margin: 2.5em 0em;
    min-width: 95vw;
}

/* table header */
.new-meal-page .css-1zts0j,
.edit-meal-page .css-1zts0j,
.edit-planner-page .css-1zts0j {
    text-align: center;
    background-color: var(--shade5);
    color: var(--shade1);
    padding: 1.5em 1.5em;
}

/* table contents */
.new-meal-page .css-xumdn4,
.edit-meal-page .css-xumdn4,
.edit-planner-page .css-xumdn4,
.new-meal-page .css-xumdn4[data-is-numeric=true],
.edit-meal-page .css-xumdn4[data-is-numeric=true],
.edit-planner-page .css-xumdn4[data-is-numeric=true] {
    text-align: center;
    border-bottom: 0.15em solid var(--shade3);
}

/* meal total row */
.meal-total .css-xumdn4 {
    background-color: var(--shade5);
    color: var(--shade1);
    font-weight: bold;
}

/* add and remove food icon button */
.new-meal-page .css-22xpxh,
.edit-meal-page .css-22xpxh,
.edit-planner-page .css-22xpxh {
    background-color: var(--shade5);
    color: var(--shade1);
}

/* add and remove food icon button */
.new-meal-page .css-22xpxh:hover,
.edit-meal-page .css-22xpxh:hover,
.edit-planner-page .css-22xpxh:hover {
    background-color: var(--shade6);
}

/* # of serving input */
.new-meal-page .css-jbgy1g,
.edit-meal-page .css-jbgy1g,
.edit-planner-page .css-jbgy1g {
    width: 5em;
    border: 0.1em solid var(--shade5);
}

/* # of serving input */
.new-meal-page .css-jbgy1g:hover,
.edit-meal-page .css-jbgy1g:hover,
.edit-planner-page .css-jbgy1g:hover {
    border: 0.15em solid var(--shade5);
}

/* add meal button */
.new-meal-page .css-ez23ye,
.edit-meal-page .css-ez23ye,
.edit-planner-page .css-ez23ye {
    font-size: 2rem;
    padding: 1.25em 1em;
    background-color: var(--shade5);
    color: var(--shade1);
}

/* add meal button */
.new-meal-page .css-ez23ye:hover,
.edit-meal-page .css-ez23ye:hover,
.edit-planner-page .css-ez23ye:hover {
    background-color: var(--shade4);
}

/* meal modal container */
html[theme='dark'] .meal-modal,
html[theme='dark-invert'] .meal-modal {
    background-color: var(--shade5);
}

/* modal title */
.meal-modal .css-9fgtzh {
    font-size: 1.75em;
    color: var(--shade5)
}

html[theme='dark'] .meal-modal .css-9fgtzh,
html[theme='dark-invert'] .meal-modal .css-9fgtzh {
    color: var(--shade4);
}

/* modal search input container */
.meal-modal .css-1y0e7gb {
    margin-top: 0.5em;
    color: var(--shade6);
}
html[theme='dark'] .meal-modal .css-1y0e7gb,
html[theme='dark-invert'] .meal-modal .css-1y0e7gb {
    color: var(--shade1);
}

/* modal search inputleftelement */
.meal-modal .css-gv1iwz svg {
    color: var(--shade5);
}
html[theme='dark'] .meal-modal .css-gv1iwz svg,
html[theme='dark-invert'] .meal-modal .css-gv1iwz svg {
    color: var(--shade3);
}

/* modal search input field */
.meal-modal .css-qluo93 {
    border: 0.15em solid var(--shade5);
    background-color: rgba(255, 255, 255, 0.55);
}
html[theme='dark'] .meal-modal .css-qluo93,
html[theme='dark-invert'] .meal-modal .css-qluo93 {
    border-color: var(--shade3);
}

/* modal search input field */
.meal-modal .css-qluo93:hover {
    border: 0.2em solid var(--shade5);
}

/* modal food list */
.meal-modal .css-69i1ev {
    margin-bottom: 1em;
}

/* modal checkbox checked state */
.meal-modal .css-1ydjfm6[aria-checked=true],
.meal-modal .css-1ydjfm6[data-checked],
.meal-modal .css-1ydjfm6[aria-checked=true]:hover,
.meal-modal .css-1ydjfm6[data-checked]:hover,
.meal-modal .css-1ydjfm6[aria-checked=true][data-hover],
.meal-modal .css-1ydjfm6[data-checked][data-hover] {
    background-color: var(--shade4);
    background: var(--shade4);
    border-color: var(--shade4);
}

/* modal info button */
.meal-modal .css-22xpxh {
    background-color: var(--shade2);
    color: var(--shade6)
}

/* modal info button */
.meal-modal .css-22xpxh:hover {
    background-color: var(--shade4);
}

/* meal modal food info preview */
.meal-modal .css-1cj2wja {
    white-space: pre-line;
    background-color: var(--shade3);
    --popper-arrow-bg: var(--shade3);
    border-radius: 0.5em;
    padding: 0.5em;
}

html[theme='dark'] .meal-modal .css-1cj2wja,
html[theme='dark-invert'] .meal-modal .css-1cj2wja {
    color: var(--shade6);
}

/* modal close and add foods button */
.meal-modal .css-ez23ye {
    background-color: var(--shade3);
    color: var(--shade6);
}

/* modal close and add foods button */
.meal-modal .css-ez23ye:hover {
    background-color: var(--shade4);
}

html[theme='dark-invert'] .meal-modal {
    filter: invert(100%);
}

@media (max-width: 820px) {

    /* page title */
    .new-meal-page .css-1dklj6k,
    .edit-meal-page .css-1dklj6k{
        font-size: 1.75em;
    }
    .edit-planner-page .css-1dklj6k {
        font-size: 1.45em;
    }

    /* meal name and number of servings input container */
    .new-meal-page .css-1y0e7gb,
    .edit-meal-page .css-1y0e7gb,
    .edit-planner-page .css-1y0e7gb {
        margin: 1.5em 0em;
    }

    /* number of serving input */
    .new-meal-page .css-1g0mrv8,
    .edit-meal-page .css-1g0mrv8,
    .edit-planner-page .css-1g0mrv8 {
        width: 100%;
    }

    /* grid header row */
    .new-meal-page .css-1nno5ms,
    .edit-meal-page .css-1nno5ms,
    .edit-planner-page .css-1nno5ms {
        font-size: 1.25em;
        font-weight: bolder;
        padding: 0.5em 0em;
        background-color: var(--shade5);
        color: var(--shade1);
    }

    /* grid row container */
    .new-meal-page .css-1y8gkv7,
    .new-meal-page .css-zd4of5,
    .new-meal-page .css-vmmjg9,
    .edit-meal-page .css-1y8gkv7,
    .edit-meal-page .css-zd4of5,
    .edit-meal-page .css-vmmjg9,
    .edit-planner-page .css-1y8gkv7,
    .edit-planner-page .css-zd4of5,
    .edit-planner-page .css-vmmjg9 {
        padding: 1em 0em;
        border-bottom: 0.15em solid var(--shade5);
    }

    /* grid food serving size container */
    .new-meal-page .css-1y8gkv7 .css-1y0e7gb,
    .edit-meal-page .css-1y8gkv7 .css-1y0e7gb,
    .edit-planner-page .css-1y8gkv7 .css-1y0e7gb {
        width: fit-content;
        margin: 0;
    }

    /* grid food serving size input field*/
    .new-meal-page .css-7eqg8e,
    .edit-meal-page .css-7eqg8e,
    .edit-planner-page .css-7eqg8e {
        width: 5em;
        border-top-right-radius: 0.375rem;
        border-bottom-right-radius: 0.375rem;
        border-color: var(--shade5);
    }

    /* grid food serving size info inputrightaddon */
    .new-meal-page .css-1r6jmxn,
    .edit-meal-page .css-1r6jmxn,
    .edit-planner-page .css-1r6jmxn {
        background-color: var(--trans);
        border: none;
    }

    /* grid food info popover */
    .new-meal-page .css-sjj62m,
    .edit-meal-page .css-sjj62m,
    .edit-planner-page .css-sjj62m {
        width: fit-content;
        border: none;
        margin-right: -0.75em;
        background-color: var(--shade3);
        color: var(--shade6);
    }

    /* total heading */
    .new-meal-page .css-42igfv,
    .edit-meal-page .css-42igfv,
    .edit-planner-page .css-42igfv {
        text-align: center;
        padding: 0.5em 0em;
        background-color: var(--shade5);
        color: var(--shade1);
    }

    /* total simplegrid container */
    .new-meal-page .css-1szs79,
    .edit-meal-page .css-1szs79,
    .edit-planner-page .css-1szs79 {
        padding: 1em;
        margin-bottom: 1em;
        border: 0.15em solid var(--shade5);
    }

    /* add meal button */
    .new-meal-page .css-ez23ye,
    .edit-meal-page .css-ez23ye,
    .edit-planner-page .css-ez23ye {
        font-size: 1.5rem;
        padding: 1.25em 1em;
        margin-top: 1em;
    }

}