/* styling for profile page and profile modal */
.profile-page {
  font-family: var(--font);
  min-height: 100vh;
  height: fit-content;
  padding: 2rem;
}

/* profile and metabolic statistics container */
.profile-page .css-jv498s {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
}
html[theme='dark'] .profile-page .css-jv498s,
html[theme='dark-invert'] .profile-page .css-jv498s {
  background-color: var(--trans);
  border: 0.5em solid var(--shade5);
}

/* profile and metabolic statistics header */
.profile-page .css-xrxou1 {
  font-family: var(--font);
  color: var(--shade5)
}
html[theme='dark'] .profile-page .css-xrxou1,
html[theme='dark-invert'] .profile-page .css-xrxou1 {
  color: var(--shade4)
}

/* create profile text */
.profile-page .createProfileText {
  font-size: 1.5em;
  color: var(--shade4);
  margin-bottom: 1em;
}

/* profile unit selector */
.profile-page .css-u3vn99, .profile-page .css-u3vn99:hover {
  border-color: var(--shade3);
}

/* profile age input */
.profile-page .css-10wjqo2, .profile-page .css-10wjqo2:hover {
  border-color: var(--shade3);
}

/* male female radio */
.profile-page .css-1cqh9jq {
  margin-left: 1em;
}

/* profile sex input */
.profile-page .css-164hj3a {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* profile inputLeftAddon */
.profile-page .css-127xmqf {
  border: var(--shade3);
  background-color: var(--shade3);
  color: var(--shade6);
}

/* profile feet inputRightAddon */
.profile-page .css-1r6jmxn {
  border-radius: 0;
  border-right: none;
  background-color: var(--shade1);
  color: var(--shade6);
}

/* prfile inches and lbs inputrightaddon */
.profile-page .css-ojlda9 {
  background-color: var(--shade1);
  color: var(--shade6);
}

/* profile inputs */
.profile-page .css-1y0e7gb, .profile-page .css-1y0e7gb:hover {
  margin-bottom: 1em;
  border-color: var(--shade3);
}

/* profile select fields */
.profile-page .css-161pkch, 
.profile-page .css-161pkch:hover {
  border-color: var(--shade3);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

html[theme='dark'] .profile-page .css-u3vn99,
html[theme='dark'] .profile-page .css-10wjqo2,
html[theme='dark'] .profile-page .css-1cqh9jq,
html[theme='dark'] .profile-page .css-1y0e7gb,
html[theme='dark'] .profile-page .css-161pkch, 
html[theme='dark'] .profile-page .css-iohxn1,
html[theme='dark-invert'] .profile-page .css-u3vn99,
html[theme='dark-invert'] .profile-page .css-10wjqo2,
html[theme='dark-invert'] .profile-page .css-1cqh9jq,
html[theme='dark-invert'] .profile-page .css-1y0e7gb,
html[theme='dark-invert'] .profile-page .css-161pkch, 
html[theme='dark-invert'] .profile-page .css-iohxn1 {
  color: white;
}

/* add/update profile button */
.profile-page .css-ez23ye {
  font-size: 1.5em;
  padding: 1em 1em;
  margin: auto;
  margin-top: 0.5em;
  background-color: var(--shade4);
  color: var(--shade1);
}

/* add/update profile button */
.profile-page .css-ez23ye:hover {
  background-color: var(--shade5);
}

/* profile card bodies */
.profile-page .profile .css-1idwstw {
  padding: 0em 2em;
}

/* profile card footer */
.profile-page .css-1a7q9t8 {
  padding-top: 0;
}

/* stats card bodies */
.profile-page .metabolicStats .css-1idwstw {
  padding: 1em 2em 1.35em 2em;
}

/* stats flexbox containers */
.profile-page .css-k008qs {
  align-items: center;
  margin: 0.75em 0em;
}

/* stats titles */
.profile-page .css-1dklj6k {
  font-family: var(--font);
  font-size: 1.75em;
  margin-right: 1em;
  color: var(--shade4)
}

/* stats values */
.profile-page .metabolicStats .statsValue {
  font-family: var(--font);
  font-size: 2em;
  font-weight: bolder;
  color: var(--shade5)
}
html[theme='dark'] .profile-page .metabolicStats .statsValue,
html[theme='dark-theme'] .profile-page .metabolicStats .statsValue {
  color: var(--shade6)
}

/* stats units */
.profile-page .metabolicStats span {
  font-family: var(--font);
  font-size: 0.65em;
  margin-left: 1em;
  color: var(--shade3);
}
html[theme='dark'] .profile-page .css-1dklj6k,
html[theme='dark'] .metabolicStats span,
html[theme='dark-invert'] .profile-page .css-1dklj6k,
html[theme='dark-invert'] .metabolicStats span {
  color: var(--shade5)
}

/* reference note */
.profile-page .css-s2uf1z {
  margin-top: 0.5em;
  margin-right: 0.5em;
}

.profile-page a {
  font-style: italic;
  color: darkblue
}
html[theme='dark'] .profile-page a,
html[theme='dark-invert'] .profile-page a {
  color: lightblue
}

@media (max-width: 480px) {

  /* create profile text */
.profile-page .createProfileText {
  font-size: 1em;
}

  /* profile and metabolic statistics header */
  .profile-page .css-xrxou1 {
    font-size: 1.5em;
  }

  /* profile ft inputleftaddon */
  .profile-page .css-1r6jmxn {
    padding-left: 0.3em;
    padding-right: 0.3em;
}

  /* metabolic statistics content */
  .profile-page .metabolicStats .css-1idwstw {
    margin-top: -1.5em;
}

  /* stats titles */
  .profile-page .css-1dklj6k {
    font-size: 1em;
  }

  /* stats values */
  .profile-page .metabolicStats .statsValue {
    font-size: 1.25em;
  }

  /* stats units */
  .profile-page .metabolicStats span {
    font-size: 0.75em;
    margin-left: 0.5em;
  }

  /* reference note */
  .profile-page .css-13brihr {
    margin-top: 0.75em;
  }

}